.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}


.stat-button {
  margin: 4px;
}

table {
  border-collapse: collapse;
  /* Ensures borders are collapsed into a single, adjacent border */
  border: 1px solid black;
  /* Outer border for the table */
  margin: auto;
}

td,
th {
  /* Targets table cells and headers */
  border: 1px solid black;
  /* Border for each cell */
  padding: 8px;
  /* Optional: Padding inside each cell */
}


.player-select-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .team {
    margin-left: 16px;

    .team-name {
      font-size: 24px;
    }
  }

  .team:last-child .player {
    background-color: #e030e2;
    /* some arbitrary button color */

  }

  .player-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    justify-items: center;
    width: 300px;
  }

  .player {
    display: inline-block;
    padding: 10px 20px;
    /* give it some space, like a button */
    margin: 5px 0;
    /* some space between each button-like div */
    background-color: #4a90e2;
    /* some arbitrary button color */
    color: white;
    /* text color */
    border: none;
    border-radius: 4px;
    /* rounded corners */
    text-align: center;
    /* center the text horizontally */
    cursor: pointer;
    /* make it look clickable */
    transition: background-color 0.3s;
    /* smooth color transition */
    flex: 1;
    /* Allow players to grow and take available space */
    width: 50px;
    /* Let the player take the full grid cell width */

    /* Optional: hover effect */
    &:hover {
      background-color: #357ab7;
      /* darken the color a bit on hover */
    }


    .player:nth-child(4) {
      grid-column-start: 2;
      /* The 4th player starts at the second column */
    }

    .player:nth-child(5) {
      grid-column-start: 3;
      /* The 5th player starts at the third column */
    }
  }

}

.stat-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; // Divides into 4 columns
  gap: 10px;

  button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;

    &:hover {
      transform: scale(1.05);
    }
  }

  .two-pt-made,
  .three-pt-made,
  .two-pt-missed,
  .three-pt-missed {
    color: white;

  }

  .two-pt-made,
  .three-pt-made {
    background-color: #4CAF50;

    &:hover {
      background-color: darken(#4CAF50, 10%);
    }
  }

  .two-pt-missed,
  .three-pt-missed {
    background-color: #E53935;

    &:hover {
      background-color: darken(#E53935, 10%);
    }
  }

  // Positioning
  .two-pt-made {
    grid-column: 1;
    grid-row: 1;
  }

  .two-pt-missed {
    grid-column: 1;
    grid-row: 2;
  }

  .ast,
  .stl,
  .blk {
    grid-column: 2 / span 1; // Span across 2 columns
    grid-row: auto; // Let it auto position in the rows
  }

  .oreb,
  .dreb {
    grid-column: 3 / span 1; // Span across 2 columns
    grid-row: auto; // Let it auto position in the rows
  }

  .three-pt-made {
    grid-column: 4;
    grid-row: 1;
  }

  .three-pt-missed {
    grid-column: 4;
    grid-row: 2;
  }
}

.log-list {
  display: flex;
  flex-direction: column;
}