@import "@fontsource/orbitron";
@import "@fontsource/roboto";

.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}


.stat-button {
  margin: 4px;
}

.player-select-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .team {
    margin-left: 16px;

    .team-name {
      font-size: 24px;
    }
  }

  .player-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    justify-items: center;
    width: 300px;
  }

  .player {
    width: 80px;
    height: 40px;
  }
}

.stat-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; // Divides into 4 columns
  gap: 10px;

  // Positioning
  .two-pt-made {
    grid-column: 1;
    grid-row: 2;
  }

  .two-pt-missed {
    grid-column: 1;
    grid-row: 3;
  }

  .ast {
    grid-column: 2;
    grid-row: 2;
  }

  .stl {
    grid-column: 2;
    grid-row: 3;
  }

  .oreb {
    grid-column: 3;
    grid-row: 3;
  }

  .dreb {
    grid-column: 3;
    grid-row: 2;
  }

  .to {
    grid-column: 3;
    grid-row: 5;
  }

  .three-pt-made {
    grid-column: 4;
    grid-row: 2;
  }

  .three-pt-missed {
    grid-column: 4;
    grid-row: 3;
  }

  .blk {
    grid-column: 2;
    grid-row: 5;
  }

  .ft-made {
    grid-column: 2;
    grid-row: 1;
  }

  .ft-missed {
    grid-column: 3;
    grid-row: 1;
  }
}

.log-list {
  display: flex;
  flex-direction: column;
}

.player-stats-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.scoreboard-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: x-large;

  .scoreboard {
    display: flex;
    flex-direction: column;
    width: 120px;
    margin: 8px;
    padding: 8px;
    font-weight: bold;

    .team-type {
      display: flex;
      flex: 1;
      text-align: center;
      justify-content: center;
    }

    .team-score {
      font-family: 'Orbitron', sans-serif;
      display: flex;
      justify-content: center;
      color: red;
      font-size: xx-large;
    }
  }
}

.team-setup {
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;

  * {
    margin: 4px;
  }
}